<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/freightContrib"
            class="MATSimFreightMetamodel.freightContrib.FreightContribPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/freightContrib/tour"
            class="MATSimFreightMetamodel.freightContrib.tour.TourPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/freightContrib/events"
            class="MATSimFreightMetamodel.freightContrib.events.EventsPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/base"
            class="MATSimFreightMetamodel.base.BasePackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/matsim"
            class="MATSimFreightMetamodel.matsim.MatsimPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/matsim/vehicles"
            class="MATSimFreightMetamodel.matsim.vehicles.VehiclesPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/matsim/core"
            class="MATSimFreightMetamodel.matsim.core.CorePackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/matsim/core/network"
            class="MATSimFreightMetamodel.matsim.core.network.NetworkPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/matsim/core/population"
            class="MATSimFreightMetamodel.matsim.core.population.PopulationPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/MATSimFreightMetamodel/matsim/households"
            class="MATSimFreightMetamodel.matsim.households.HouseholdsPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/reightReceiver"
            class="MATSimFreightMetamodel.freightReceiver.FreightReceiverPackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MATSimFreightMetamodel -->
      <package
            uri="http://www.cep-model-coupling.com/matSimFreightMetamodel/dataExchange"
            class="MATSimFreightMetamodel.dataExchange.DataExchangePackage"
            genModel="model/MATSimFreightMetamodel.genmodel"/>
   </extension>

</plugin>
